h1{
  text-align: center;
  font-family: 'Palette Mosaic', cursive;
}

.art{
  margin: auto;
}

td{
  width: 200px;
  height: 400px;
  border: 10px solid white;
}

#one{
  background-color: #264653;
}


#two{
  background-color: #2a9d8f;
}

#three{
  background-color: #e9c46a;
}

#four{
  background-color: #f4a261;
}

#five{
  background-color: #e76f51;
}